<div class="topbar">
	<div class="navbar-start">
		<a href="/"><button class="topbtn"><b><%= siteName %>!</b></button></a><a
		href="/submit"><button class="topbtn">Submit</button></a><a
		href="/toggle_theme?p=about"><button class="topbtn">Switch theme</button></a>	
	</div><div class="navbar-end" >
		<a href="/account"><button class="accBtn">Account</button></a>

	</div>
</div>

<div class="lDiv">
	<h1>About - MuchTips!</h1>
	<p>Wow! Much tips! Very thanks!</p>
	<p>MuchTips is a website where you get paid for making memes.<br>
	The meme tipping feature is provided with <a href="https://wownero.org/" target="_blank">Wownero</a>, the dankest memecoin you can imagine.</p>
	<p>The site is developed from scratch by XfedeX, and is inspired by <a href="https://suchwow.xyz/" target="_blank">SuchWow</a>.</p>
	<p>If you've received some WOW from memes, please consider donating any amount to the MuchTips! developers:</p>
	<b>Wownero (WOW):</b> <div class="addr">WW473zqoLYwZCVGK22wNcKSh92UDBhauwWj67wDAeZtK1XsE56B2y5T3aiRP6HpuPLhg5GFVhMAWbh4kYc5FacfB18BkjTyhL</div>
	<br>
	<b>Monero (XMR):</b> <div class="addr">8A4NuDSGNkM3Yv8MEJKsVvStqUqFNuWwocc5rjX4QHRuENmBTK64R9s1Vj1rfe8LXC7fPwGCkA6adhoVUe2oeWW6JkvgTJs</div>


</div>
