<div class="topbar">
	<div class="navbar-start">
		<a href="/"><button class="topbtn"><b><%= siteName %>!</b></button></a>
	</div>
</div>

<div class="lDiv" style="text-align:center">
	<h1>Submit meme</h1>
	<% if (err) { %>
		<script>history.replaceState({},"","/submit")</script>
		<div class="redAlertBox"><%= err %></div>
	<% } %>

	<h2>Rules:</h2>
	<ul>
		<li>No NSFW / adult imagery</li>
		<li>No super-low effort memes</li>
		<li>No Wownero/cryptocurrency memes - please post them on suchwow</li>
	</ul>

	<form action="/submit" method="post" encType="multipart/form-data">
		<input required class="submitBox" name=title type=text placeholder="Meme title" style="width: 350px;" minlength=4 maxlength=40><br>
		<input required name="memeimg" class="submitBox" type="file" accept="image/*" id="uploadF">
		<textarea id=descrIn class=submitBox name="descrIn" placeholder="Meme description (optional)" maxlength=400 ></textarea><br>
		<button type="submit">Submit meme</button><br><br>
	</form>

</div>